.proj-container {
  margin: 2em 0 2em 0;
  width: 100%;
}

.proj-heading {
  font-weight: normal;
  margin-bottom: 1em;
}

.proj-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.proj-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 2em 0;
}

.proj-text {
  display: flex;
  flex-direction: column;
  margin: 3em 0 2em 0;
}

.proj-img {
  max-height: 11em;
  height: 10%;
  width: auto;
  border-radius: 0.3em;
}

.right {
  margin-left: 3em;
}

.left {
  margin-right: 3em;
}

.proj-desc {
  font-size: medium;
  padding-bottom: 1em;
}

.proj-exp-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.proj-exp {
  font-size: x-small;
  font-weight: bold;
  margin: 1em 1em 0 1em;
}

/* MOBILE */
@media (max-width: 770px) {
  .proj-list {
    flex-direction: column !important;
    justify-content: center !important;
  }

  .proj-item {
    flex-direction: column !important;
  }

  .left {
    margin-right: 0 !important;
  }

  .right {
    margin-left: 0 !important;
  }
}
