.proj-container {
  padding: 2em 0 2em 0;
  width: 100%;
}

@media (max-width: 770px) {
  .proj-list {
    flex-direction: column;
    justify-content: center !important;
  }
}

.proj-desc {
  font-size: x-small;
  margin-bottom: 3em;
}

.proj-heading {
  font-weight: normal;
  margin-bottom: 0.5em;
}

.proj-bodytext {
  font-size: small;
  margin-top: 1em;
}

.proj-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.proj-title {
  font-size: x-small;
}

.proj-img {
  height: 14em;
  width: auto;
}

.proj-item {
  margin: 0 0 2em 0;
}
