button {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  font-family: 'Sen', sans-serif;
  border: 0.1em solid #1b455d;
  background-color: transparent;
  transition: 0.2s ease-in-out;
  color: #1b455d;
  cursor: pointer;
  opacity: 0.5;

  padding: 0.5em 2em;
  margin-right: 1em;
  border-radius: 100em;
  width: 100%;
}

button:hover {
  opacity: 1;
}

.button-img {
  height: 1em;
  width: auto;
  padding-right: 1em;
}

.button-svg {
  fill: #1b455d;
  padding-right: 1em;
}
