button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Sen', sans-serif;
  font-size: small;
  border: 0.1em solid #1b455d;
  background-color: transparent;
  transition: 0.2s ease-in-out;
  color: #1b455d;
  cursor: pointer;
  opacity: 0.5;

  padding: 0.3em 1.5em;
  margin-right: 1em;
  border-radius: 100em;
  z-index: 1000;
}

button:hover {
  opacity: 1;
}

.button-svg {
  fill: #1b455d;
  padding-right: 0.5em;
}

@media (max-width: 460px) {
  .button-svg {
    display: none;
  }
}
