@media (max-width: 770px) {
  .contact-bar {
    visibility: hidden;
  }
}

.contact-bar {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  bottom: 0;
  width: 80vw;
  margin: 0 auto;
  align-self: flex-end;
  justify-content: flex-end;
}

.bar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-stripe {
  background-color: #1b455d;
  border: none;
  border-top-left-radius: 100em;
  border-top-right-radius: 100em;

  width: 3px;
  height: 4em;
}

.contact-svg {
  fill: #1b455d !important;
  padding-bottom: 0.5em;
  width: 1.3em;
  height: auto;
}
