.experience-body {
  display: flex;
  flex-direction: column;
  margin: 3em 0 3em 0;
}

.ecperience-heading {
  display: flex;
  flex-direction: row;
}

@media (max-width: 770px) {
}

.experience-img {
  width: 15em;
  height: 15em;
  padding: 0 2em 0 0;
}

.experience-text {
  display: flex;
  flex-direction: column;
}

.experience-title {
  font-weight: normal;
  padding: 0 0 0.5em 0;
}

.skill-container {
  display: flex;
  flex-direction: row;
}
