.footer {
  width: 100%;
  height: auto;
  background-color: #8f989f;
  color: #f6f0ec;
  padding: 2em 0 2em 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-list {
  padding: 1em 2em;
}

.footer-img {
  width: auto;
  height: 1em;
  padding-right: 0.3em;
}

.footer-svg {
  width: 1em;
  height: auto;
  fill: #f6f0ec !important;
  padding-right: 0.5em;
}

li {
  display: flex;
  list-style: none;
  font-size: small;
  font-family: 'Sen', sans-serif;
}
