.nav-buttons {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

@media (max-width: 770px) {
  .nav-buttons {
    justify-content: flex-end;
  }
}

.exp-heading {
  position: absolute;
  bottom: 0;
}

.exp-list {
  display: flex;
  flex-direction: row;
  margin-top: 1.5em;
}

.exp-item {
  padding-right: 2em;
}
