.home-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 770px) {
  .home-container {
    flex-direction: column;
    align-items: center;
  }

  .home-buttons {
    align-self: flex-end;
  }
}

.home-img {
  width: 100%;
  max-width: 20em;
  height: auto;
  opacity: 0.8;
  margin: 0 2em;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em 0;
  max-width: 30em;
}

.home-name {
  font-size: normal;
  font-weight: normal;
}

.home-title {
  font-size: medium;
  font-weight: normal;
  margin-bottom: 1em;
}

.home-paragraf {
  font-size: small;
  margin-bottom: 2em;
}

.home-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  justify-items: center;
}
