.home-container {
  display: flex;
  flex-direction: row;
}

.home-img {
  width: auto;
  height: 50vh;
  margin-right: 2em;
  opacity: 0.8;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-name {
  color: #111c1e;
  font-size: normal;
  font-weight: normal;
}

.home-title {
  color: #111c1e;
  font-size: medium;
  font-weight: normal;
  margin-bottom: 2em;
}

.home-paragraf {
  color: #111c1e;
  font-size: small;
  margin-bottom: 2em;
}

.home-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}
