html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6f0ec;
}

.app-container {
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  margin: 0 auto;

  height: 100%;
  max-width: 60vw;
  min-height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: justify;
  text-justify: inter-word;
}

@media (max-width: 770px) {
  .app-container {
    max-width: 85vw;
  }

  nav {
    flex-direction: row;
  }
}

::selection {
  background: #1b455d;
  color: #f6f0ec;
}

* {
  padding: 0;
  margin: 0;

  transition: 0.2s ease-in-out;
}

p {
  font-family: 'Sen', sans-serif;
}

span {
  color: #8f989f;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: small;
  margin: 2em auto;
  width: 80vw;
}

.menu-item {
  margin-right: 1em;
}

.divider {
  background-color: #8f989f;
  border: none;
  border-radius: 100em;

  width: 1px;
  height: 2em;
  margin: 0 1em 0 0;
}

li {
  display: flex;
  list-style: none;
  font-size: 0.8rem;
  font-family: 'Sen', sans-serif;
  align-self: flex-start;
}

a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.heading {
  font-size: 1.9rem;
  padding-bottom: 0.5em;
  font-weight: normal;
}
