body {
  background-color: #f6f0ec;
}

html {
  scroll-behavior: smooth;
}

.app-container {
  font-family: "Sen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  margin: 0 auto;

  max-width: 80vw;
  min-height: 90vh;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: justify;
  text-justify: inter-word;
}

@media (max-width: 770px) {
  nav {
    flex-direction: row;
  }
}

* {
  padding: 0;
  margin: 0;

  transition: 0.2s ease-in-out;
}

p {
  font-family: "Sen", sans-serif;
}

span {
  color: #8f989f;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: small;
  margin: 2em auto 4em auto;
  width: 80vw;
}

.menu-item {
  margin-right: 1em;
}

.divider {
  border: none;
  border-radius: 100em;

  width: 1px;
  height: 2em;
  margin: 0 1em 0 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.heading {
  font-size: 1.9rem;
  padding-bottom: 0.5em;
  font-weight: normal;
}
